{% extends "base.html" %}
{% block body %}
<div class="container" style="margin: 60px auto 64px">

  <div class="row">
    <div style="text-align: center;margin: 100px auto 10px;">
      <i class="fa fa-trophy" style="font-size: 280px;"></i>
    </div>
  </div>

  <div class="row">
    <form action="/" class="form col-md-4 col-md-offset-4" style="text-align: center;">
      <div class="input-group">
        <input name="name" type="text" class="form-control" placeholder="玩家ID...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit"><i class="fa fa-search"></i> </button>
        </span>
      </div><!-- /input-group -->
    </form>
  </div>

</div>
{% end %}