{% extends "base.html" %}
{% block header %}
{% module navbar() %}
{% end %}
{% block body %}
<div class="container" style="margin: 60px auto 64px">
  <div class="row" style="text-align: center;margin: 80px auto 10px;">
    <h1>Upload Tenhou Game Logs</h1>
  </div>
  <div class="row">
    <table class="table table-striped table-hover">
      <thead>
        <tr><td>No.</td><td>Ref</td><td>Status</td></tr>
      </thead>
      <tbody>
        {% for index, command in enumerate(commands) %}
          <tr id="command-tr-{{ index }}">
            <td>{{ index + 1 }}</td>
            {% if command.uploaded %}
              <td><a href="#">{{ command.ref }}</a></td>
              <td class="success"><i class="fa fa-check"></i> uploaded</td>
            {% else %}
              <td>{{ command.ref }}</td>
              <td><i></i>waiting</td>
            {% end %}
          </tr>
        {% end %}
      </tbody>
    </table>
  </div>
  <div class="row" style="text-align: center;margin: 10px auto 10px;">
    <a type="submit" href="/upload" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Back</a>
  </div>
</div>
{% end %}
{% block html_tail %}
<script src="/static/js/multi-upload.js"></script>
{% end %}