{% if table.items %}
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <td><strong>No.</strong></td>
    {% for title in titles %}
    <td><strong>{{ title }}</strong></td>
    {% end %}
  </tr>
  </thead>
  <tbody>
  {% for index, item in enumerate(table.items) %}
  <tr>
    <td>{{ index + 1 + table.item_index_from }}</td>
    {% block page %}
    {% for value in extractor(item) %}
    <td>{{ value }}</td>
    {% end %}
    {% end %}
  </tr>
  {% end %}
  </tbody>
</table>
<p>
  总计 <strong>{{ table.item_count }}</strong> 条记录 <strong>{{ table.page_index + 1 }}/{{ table.page_count }}</strong> 页
</p>
<nav>
  <ul class="pagination">
    {% if table.page_index > 0 %}
    <li>
      <a href="{% raw handler.turn(table.page_index - 1, table.table_name) %}" aria-label="Previous" title="Previous">
        <span aria-hidden="true">&lt;</span>
      </a>
    </li>
    {% else %}
    <li class="disabled"><a aria-label="Previous"><span aria-hidden="true">&lt;</span></a></li>
    {% end %}
    {% for index in table.iter_page_index() %}
    <li class="{{ 'active' if index == table.page_index else '' }}">
      <a href="{% raw handler.turn(index, table.table_name) %}" aria-label="Page {{ index + 1 }}"
         title="Page {{ index + 1 }}">
        <span aria-hidden="true">{{ index + 1 }}</span>
      </a>
    </li>
    {% end %}
    {% if table.page_index < table.page_count - 1 %}
    <li>
      <a href="{% raw handler.turn(table.page_index + 1, table.table_name) %}" aria-label="Next" title="Next">
        <span aria-hidden="true">&gt;</span>
      </a>
    </li>
    {% else %}
    <li class="disabled"><a aria-label="Next"><span aria-hidden="true">&gt;</span></a></li>
    {% end %}
  </ul>
</nav>
{% else %}
{% block none_info %}<p class="text-info">没有查询到相应的记录</p>{% end %}
{% end %}